<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/pkg/static/styles/header.css">
</head>
<body>
    <div class="header">
       
        {{if .User}}
        <a href="/login"><button  class="btn">Login</button></a>
        <a href="/register"><button  class="btn">Register</button></a>
         <a href="/logout"><button  class="btn">Logout</button></a>
         <a href="/post"><button  class="btn">Create a post</button></a>
       
        {{else}}
        <a href="/login"><button  class="btn">Login</button></a>     
        <a href="/register"><button  class="btn">Register</button></a>  
        {{end}}    
        
    </div>   
    
    <div class="posts">
        
    </div>
</body>
</html>