<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/pkg/static/styles/index.css" />
    <link rel="stylesheet" href="/pkg/static/styles/postInfo.css" />
    <title>post-info</title>
  </head>
  <body>
    {{$user := .User}}
    <div class="header-1">
      <div class="left">
        <h2 class="forumText">FORUM</h2>
      </div>
      <div class="right">{{ template "header" . }}</div>
    </div>

    <div class="post-body">
      <div class="post-info">
        <div class="title">{{.Post.Title}}</div>
        <div class="type">{{range .Post.Type}} {{.}} {{end}}</div>
        <div class="content">{{.Post.Content}}</div>
      </div>
      <div class="comments-box">
        {{range .Comments}}
        <h2>{{.Owner}}</h2>
        {{.Content}} {{end}}
      </div>
      <div class="comment">{{if $user}} {{template "comments" .}} {{end}}</div>

      
    </div>
  </body>

  <script src="/pkg/static/files/plugin.js"></script>
</html>
