<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <link rel="stylesheet" href="../styles/news.css">
  <link rel="apple-touch-icon" sizes="180x180" href="../style/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../style/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../style/img/favicon-16x16.png">
  <link rel="manifest" href="../style/img/site.webmanifest">
  <link rel="mask-icon" href="../style/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title></title>
</head>
<body>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center right-bck">
        <div class="registration-right">
          <nav class="navbar ">
            <div class="container-fluid" style="padding-right: 0px;padding-left: 0px;">
              <a class="navbar-brand" href="/">
                <h1>Forum</h1>
              </a>
              <div>
                <a id="a1" class="btn btn-success" href="/post" >Create New Post</a>
                <a id="a2" class="btn btn-success" href="/logout">LogOut</a> 
                </div>
                          
            </div>
          </nav>
          <hr>
<h2>Add Post </h2>
<form action="/createpost" method="post">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input name="newtitle" type="text" class="form-control" placeholder="Title">
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Content</label>
    <div class="col-sm-10">
      <textarea name="newcontent" class="form-control" rows="3"></textarea>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Select category</label>
    <div class="col-sm-10">
      <select name="newcategory" class="form-control" multiple>
        <option>business</option>
        <option>entertainment</option>
        <option>health</option>
        <option>science</option>
        <option>sports</option>
        <option>technology</option>
      </select>
    </div>
  </div>
  <br>
  <fieldset class="form-group">
    <!-- <div class="form-group row">
        <label class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
          <input name="newimage" type="text" class="form-control" placeholder="url to image">
        </div>
      </div> -->
  </fieldset>
  <br>
  <hr>
  <div class="form-group row ">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Publish</button>
    </div>
  </div>
</form>
</div>
</div>
</div>
<button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
  <i class="fas fa-arrow-up"></i>
</button>
</body>
</html>