<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pkg/static/styles/index.css">
    <title>post-info</title>
</head>
<body>
    <div class="header-1">
        <div class="left">
          <h2 class="forumText">FORUM</h2>
        </div>
        <div class="right">{{ template "header" . }}</div>
      </div>

      <div class="post">
        <h2>{{.Post.Title}}</h2>
        <h2>{{.Post.Content}}</h2>
        <h2>{{.Post.Type}}</h2>
      </div>
</body>
</html>