<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/resources/register.css">
</head>
<body>
    <div class="registration-form">
        <h1>Registration Form</h1>
        <form action="/register" method="post">
            <p>Name</p>
            <input type="text" name="name" placeholder="Enter name">
            <p>Email</p>
            <input type="email" name="email" placeholder="Enter email">
            <p>Password</p>
            <input type="password" name="Password" placeholder="Create password">
            <button type="submit">Register</button>
        </form>
    </div>        
</body>
</html>